.sel1{
width: 213px;
    margin: 0 7px 0 0;
    border-radius: 6px;
    height: 40px;
    background-color: white;
    border: 1px solid #d9d9d9;
}
.cards1{
display: flex;
justify-content: space-around;

flex-wrap: wrap;
}
.card1{
    width: 25%;
    min-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Modal2 {
    width: 100% !important;
    min-height: 100vh !important;
    
    background-color: white;
    position: absolute;
    backdrop-filter: blur(30px);
    top: 0; right: -120%;
    z-index: 99;
    transition: .8s;
    padding-top: 5%;
}
.openModal2 {
    right: 0;
    
}
.close_modal {
    position: absolute;
    top: 40px; right: 40px;
    font-size: 30px;
    cursor: pointer;
    color: #fff !important;
    transition: .3s;
}
.modal_btn {
    margin-left: 50px;
    border: 1px solid #52c41a !important;
    color: #52c41a !important;
}
.modal_btn:hover,
.modal_btn:focus {
    border: 1px solid #52c41a !important;
    color: #fff !important;
    background-color: #52c41a !important;
    box-shadow: 0 0 15px #52c41a !important;
}
.modal_body {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.modal_inp {
    width: 230px !important;
    margin: 0 7px 0 0;
    border-radius: 6px;
    height: 40px;
    border: 1px solid #d9d9d9;
    margin-top: 10px !important;
    color: #000 !important;
}
.sel2_text {
    color: #fff;
}
.sel2 {
    width: 300px;
    outline: none;
    color: #000;
    padding: 0 5px;
}
.abbas1{
position: absolute;
top: 0px;
left: 20px;

}

#addBtn {
    border: 1px dashed #52c41a;
    transition: .3s;
}
#addBtn:hover {
    border: 1px solid #52c41a;
    color: #52c41a;
}
.editModal {
    width: 400px;
    height: auto;
    background-color: #fff;
    position: fixed;
    top: 25%; right: 50%;
    transform: translateX(50%);
    z-index: 99;
    border-radius: 20px;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 15px #ccc;
    display: none;
}
.createDb {
    display: flex;
}
.close_modal2 {
    position: absolute;
    right: 20px; top: 20px;
    font-size: 18px;
}
.form1{
    display: flex;
    justify-content: center;

}
.form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width:80% ;
}
.sdsds{
    width:88%;
    margin-left:6%;
}
.Modal2 input{
    width: 30%;
    min-width:300px;
    margin: 0 7px 0 0;
    border-radius: 6px;
    height: 40px;
    background-color: white;
    border: 1px solid #d9d9d9;
}
.ism,.familya,.yosh,.pasport,.tel,.sana1{
    width: 25%;
        min-width: 300px;
        margin-top: 50px;
        margin-bottom: 10px;
}
.message{
    width: 100%;
    margin-top: 50px;
    margin-left: 48px;
    margin-bottom: 50px ;
}
.category_text {
    margin-top: 20px;
}

textarea{
    border: 1px solid #d9d9d9;
    width: 88%;
}
path{
    color: #000;
}